@import 'vars';
@import 'bootstrap';

/*
 * Globals
 */
.header {
}

.footer {
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 0;
  background-size: contain;
  background-image: url("filmrolgeel.png");
  opacity: 0.25;
  background-repeat: no-repeat;
  z-index: -1;
}

h2 {
  color: #D9A13F;
}

h3 {
  color: #a18594;
}
