/* variables */

// $kleur-rood: #7e1621;
$kleur-geel: #D9A13F;
$kleur-wit: #FFFFFF;
$kleur-zwart: #000000;
$primary: #D9A13F;
$secondary: #a18594;
$font-color-primary: #ebb803;
$headings-font-weight: 700;
$h1-font-size: 4.4rem;
$h2-font-size: 2rem;
$h3-font-size: 1rem;
$h4-font-size: 1rem;
$font-family-base: 'Luxurious Roman';
$headings-font-family: 'Libre Baskerville', serif;
$card-bg: #D9A13F;


$headings-color: $kleur-geel;

$container-max-widths: (sm: 600px, md: 600px, lg: 700px, xl: 800px, xxl: 900px);
