/* variables */

// $kleur-rood: #7e1621;
$kleur-rood: #6e1321;
$kleur-geel: #D9A13F;
$kleur-donkerrood: #310c16;
$kleur-goud0: #ebb803;
$kleur-goud1: #fadd00;
$kleur-goud2: #f5d500;
$kleur-goud3: #8f5a14;
$kleur-wit: #FFFFFF;
$kleur-zwart: #000000;
$primary: #D9A13F;
$secondary: #ebb803;
$font-color-primary: #ebb803;
$headings-font-weight: 700;
$h1-font-size: 4.4rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1rem;
$font-family-base: 'Luxurious Roman';
$headings-font-family: 'Libre Baskerville', serif;

$headings-color: $kleur-geel;

$container-max-widths: (sm: 600px, md: 700px, lg: 700px, xl: 800px, xxl: 1320px);
